<head>
	<style>
	

		.jumbotron{
			background: rgba(139,69,19);
		
		}

		h2{
        	font-family: times, Times New Roman, times-roman, georgia, serif;
			color: #3F250B;
			margin: 0;
			padding: 0px 0px 6px 0px;
			font-size: 51px;
			line-height: 44px;
			letter-spacing: -2px;
			font-weight: bold;
		}
		a{
			position: relative
		}
	
	</style>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h2 class="text-center">Food Journal</h2>
					</br>
					<p class="text-center">
						Login/Sign Up!
					</p>
					<p class="intro">
						There are amazing food everywhere in NYC from five-dollar halal food truck to high-end Michelin star restaurants. It is the mission for everyone to tour around New York to discover the heavenly food. This Food Journal app will keep your own diary  of your visits to restaurants, bars, or even hot spots for desserts. If you want to brag about your New York Food life, this is the way to go!
					</p>
					<p class="image">
						</br></br>
						

						<a href="/login" class="btn btn-success btn-lg">Login</a>
						<a href="/signup" class="btn btn-warning btn-lg">Signup</a>
						<a href="/logout" class="btn btn-danger btn-lg">Logout</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>