<html>
	<style>
		
		body {
			padding-top: 50px;
			background-image: url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/10/106/106398/pgmvtg2ha1c72fci4wroqtguaxaqzrcgnse82yop7njq4i0mjjbbql68y7xa0he0-f.jpg?1399222058");
			background-size: 100% 100%;
   			 background-repeat: no-repeat;
			
			
		}
	
		
		
	</style>
	<nav class="nav nav-tabs" role="navigation">
		<div class="container">
			<ul class="nav nav-tabs" >
				<li><a href="/">Home</a></li>
				<li><a href="/tables">Table of Contents</a></li>
				<li><a href="/write/table">Write My Journal</a></li>
				
				<li><a href="/wishlist">WishList</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
	<head>
		<title>Lists</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<script src="/js/parsley.js"></script>
			<link rel="stylesheet" href="/css/parsley.css">
	</head>

  	<body>
    	{{{body}}}
  	</body>

  	
</html>